[submodule "src/thirdPartyLibs/Maximilian"]
	path = src/thirdPartyLibs/Maximilian
	url = https://github.com/micknoise/Maximilian.git
[submodule "src/thirdPartyLibs/loguru"]
	path = src/thirdPartyLibs/loguru
	url = https://github.com/emilk/loguru.git
